<%= form_with(model: event, local: true, data: { controller: 'form', form_errors: event.errors.messages.keys.join(',') }) do |form| %>
  <fieldset class="uk-fieldset">
    <% if event.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :tap_id, class: 'uk-form-label' %>
      <%= form.select :tap_id, Tap.all.collect { |tap| [ tap.name, tap.id ] }, {}, { class: 'uk-select', data: { target: 'form.input' } } %>
    </div>

    <div class="uk-margin">
      <%= form.label :kind, class: 'uk-form-label' %>
      <%= form.select :kind, Event.kinds.keys, {}, { class: 'uk-select', data: { target: 'form.input' } } %>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Back', events_path, class: 'uk-button uk-button-default' %>
      <%= form.submit :save, class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>

