<%= form_with(model: [:admin, @event], local: true, data: { controller: 'form', form_errors: event.errors.messages.keys.join(',') }) do |form| %>
  <fieldset class="uk-fieldset">
    <% if event.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: event.errors.count, model: 'évènement') %></h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :faucet_id, "Robinet", class: 'uk-form-label' %>
      <% if @event.faucet.present? %>
        <%= form.select :faucet_id, [@event.faucet].collect { |faucet| [faucet.name, faucet.id ] }, {}, {class: 'uk-select', data: {target: 'form.input' } } %>
      <% else %>
        <%= form.select :faucet_id, options_for_select(Faucet.all.collect { |faucet| [faucet.name, faucet.id ] }, disabled: Faucet.without_industrial_unit.ids),
                                                       {},
                        {class: 'uk-select', data: {target: 'form.input' } } %>
      <% end %>
    </div>

    <div class="uk-margin">
      <%= form.label :kind, "Type", class: 'uk-form-label' %>
      <%= form.select :kind, Event.kinds.keys, {}, { class: 'uk-select', data: { target: 'form.input' } } %>
    </div>

    <div class="uk-margin">
      <%= form.label :comment, "Commentaire", class: 'uk-form-label' %>
      <%= form.text_area :comment, class: 'uk-textarea', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :existing_event_attachment, "Ajouter un document existant", class: 'uk-form-label' %>
      <%= form.select :existing_event_attachment, Attachment.where(kind: :incident_maintenance).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                      {selected: @event.attachments.where(kind: :incident_maintenance).ids}, {multiple: true, id: 'existing_event_attachment', data: {target: 'form.input'}} %>
    </div>

    <div class="uk-margin">
      <div>
        <%= form.label :new_event_attachment, "Ajouter un nouveau document", class: 'uk-form-label' %>
      </div>
      <%= form.file_field :new_event_attachment, multiple: true %>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', admin_events_path, class: 'uk-button uk-button-default' %>
      <%= form.submit "Enregistrer", class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>

<script>
    $(document).ready(function () {
        $('#existing_event_attachment').select2();
    });
</script>

