<div class="uk-section uk-section-default">
  <div class="uk-container">
    <%= render 'shared/notice' %>

    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="uk-heading-primary">Évènement <%= @event.id %></h1>
      </div>
      <div class="uk-width-auto@m">
        <%= link_to 'Modifier', edit_admin_event_path(@event), class: 'uk-button uk-button-primary' %>
        <%= link_to 'Supprimer',admin_event_path(@event), method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'uk-button uk-button-danger' %>
      </div>
    </div>

    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-striped">
        <tbody>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">type</td>
          <td><%= @event.kind %></td>
        </tr>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">robinet</td>
          <td>
            <%= link_to admin_faucet_path(@event.faucet) do %>
              <%= @event.faucet.name %>
            <% end %>

          </td>
        </tr>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">commentaire</td>
          <td><%= @event.comment %></td>
        </tr>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Date de création</td>
          <td><%= @event.created_at %></td>
        </tr>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Unité Industrielle</td>
          <% if @event.faucet.industrial_unit.present? %>
            <td><%= @event.faucet.industrial_unit.name %></td>
          <% end %>
        </tr>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Auteur</td>
          <td><%= @event.author %></td>
        </tr>

        <%= render 'admin/faucets/show_attachement',
                   attachments: @event.attachments.where_kind(:incident_maintenance),
                   title: "Documents" %>
        </tbody>
      </table>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', admin_events_path, class: 'uk-button uk-button-default' %>
    </div>
  </div>
</div>