<%= form_with(model: [:admin, @attachment], local: true, data: {controller: 'form', form_errors: attachment.errors.messages.keys.join(',')}) do |form| %>
  <fieldset class="uk-fieldset">
    <% if attachment.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: attachment.errors.count, model: 'évènement') %></h2>

        <ul>
          <% attachment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :categ, "Type", class: 'uk-form-label' %>
      <%= form.select :categ, Attachment.categs.collect {|cat| [I18n.t("attachment_categ.#{cat[0]}"), cat[0]]}, {}, {class: 'uk-select', data: {target: 'form.input'}} %>
    </div>

    <div class="uk-margin">
      <div>
        <%= form.label :pdf_label, "Attacher un document", class: 'uk-form-label' %>
      </div>
      <%= form.file_field :pdf %>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', admin_attachments_path, class: 'uk-button uk-button-default' %>
      <%= form.submit "Enregistrer", class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>