<p id="notice"><%= notice %></p>

<h1>Industrial Units</h1>

<div class="uk-overflow-auto">
  <table class="uk-table uk-table-striped uk-table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Postcode</th>
      <th>City</th>
      <th>Country</th>
      <th>Additional information</th>
      <th>Process information</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @industrial_units.each do |industrial_unit| %>
      <tr>
        <td><%= industrial_unit.name %></td>
        <td><%= industrial_unit.address %></td>
        <td><%= industrial_unit.postcode %></td>
        <td><%= industrial_unit.city %></td>
        <td><%= industrial_unit.country %></td>
        <td><%= industrial_unit.additional_information %></td>
        <td><%= industrial_unit.process_information %></td>
        <td><%= link_to 'Show', industrial_unit %></td>
        <td><%= link_to 'Edit', edit_industrial_unit_path(industrial_unit) %></td>
        <td><%= link_to 'Destroy', industrial_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Industrial Unit', new_industrial_unit_path %>
