<div data-controller="navbar" class="uk-offcanvas-content">
  <nav class="uk-navbar-container uk-margin tm-navbar" uk-sticky uk-navbar>
    <div class="uk-navbar-left">
      <%= link_to root_path, class: 'uk-navbar-item uk-logo' do %>
        REG
      <% end %>

      <ul class="uk-navbar-nav uk-visible@m">
        <% if admin_signed_in? %>
          <li>
            <%= link_to admin_industrial_units_path, data: { target: 'navbar.link' } do %>
              Unité Industrielle
            <% end %>
          </li>
          <li>
            <%= link_to admin_tap_templates_path, data: { target: 'navbar.link' } do %>
              Template
            <% end %>
          </li>
          <li>
            <%= link_to admin_taps_path, data: { target: 'navbar.link' } do %>
              Robinet
            <% end %>
          </li>
          <li>
            <%= link_to admin_events_path, data: { target: 'navbar.link' } do %>
              Evenements
            <% end %>
          </li>
          <li>
            <%= link_to admin_users_path, data: { target: 'navbar.link' } do %>
              Utilisateurs
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <% if admin_signed_in? %>
          <li>
            <%= link_to '#', class: 'uk-navbar-toggle uk-hidden@m', data: { action: 'navbar#toggle' } do %>
              <span uk-navbar-toggle-icon></span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, class: 'uk-visible@m', method: :delete do %>
              Log out
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>

  <div id="offcanvas-navbar" uk-offcanvas="mode: push">
    <div class="uk-offcanvas-bar">

      <button class="uk-offcanvas-close" type="button" uk-close></button>

      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">General</li>
        <li>
          <%= link_to admin_industrial_units_path, data: { target: 'navbar.link' } do %>
            Unité Industrielle
          <% end %>
        </li>
        <li>
          <%= link_to admin_tap_templates_path, data: { target: 'navbar.link' } do %>
            Template
          <% end %>
        </li>
        <li>
          <%= link_to admin_taps_path, data: { target: 'navbar.link' } do %>
            Robinet
          <% end %>
        </li>
        <li>
          <%= link_to admin_events_path, data: { target: 'navbar.link' } do %>
            Evenements
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path, data: { target: 'navbar.link' } do %>
            Utilisateurs
          <% end %>
        </li>
        <li class="uk-nav-divider"></li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            Log out
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>