<div data-controller="navbar" class="uk-offcanvas-content">
  <nav class="uk-navbar-container uk-margin tm-navbar" uk-sticky uk-navbar>
    <div class="uk-navbar-left">
      <% if admin_signed_in? %>
        <%= link_to root_path, class: 'uk-navbar-item uk-logo' do %>
          <%= image_tag("logo.png", {:style => "height:80%"}) %>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to user_faucets_path, class: 'uk-navbar-item uk-logo' do %>
          <%= image_tag("logo.png", {:style => "height:80%"}) %>
        <% end %>
      <% end %>

      <% if admin_signed_in? %>
        <ul class="uk-navbar-nav uk-visible@m">
          <li>
            <%= link_to admin_industrial_units_path, data: { target: 'navbar.link' } do %>
              Unités Industrielles
            <% end %>
          </li>
          <li>
            <%= link_to admin_tap_templates_path, data: { target: 'navbar.link' } do %>
              Modèles
            <% end %>
          </li>
          <li>
            <%= link_to admin_faucets_path, data: { target: 'navbar.link' } do %>
              Robinets
            <% end %>
          </li>
          <li>
            <%= link_to admin_events_path, data: { target: 'navbar.link' } do %>
              Évènements
            <% end %>
          </li>
          <li>
            <%= link_to admin_peoples_path, data: { target: 'navbar.link' } do %>
              Utilisateurs
            <% end %>
          </li>
          <li>
            <%= link_to admin_alerts_path, data: {target: 'navbar.link'} do %>
              Alertes
            <% end %>
          </li>
          <li>
            <%= link_to admin_attachments_path, data: {target: 'navbar.link'} do %>
              GED
            <% end %>
          </li>
        </ul>
      <% end %>
      <% browser = Browser.new(request.env['HTTP_USER_AGENT'])
        if user_signed_in? && !browser.platform.android_app? && !browser.platform.ios_app? %>
        <ul class="uk-navbar-nav uk-visible@m">
          <li>
            <%= link_to user_industrial_units_path, data: {target: 'navbar.link'} do %>
              Unités Industrielles
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>

    <div class="uk-navbar-right">
      <% if admin_signed_in? %>
        <ul class="uk-navbar-nav">
          <li>
            <%= link_to '#', class: 'uk-navbar-toggle uk-hidden@m', data: { action: 'navbar#toggle' } do %>
              <span uk-navbar-toggle-icon></span>
            <% end %>
          </li>
          <li>
            <%= link_to '#', class: 'uk-margin-medium-right uk-visible@m' do %>
              <span uk-icon="icon: user; ratio: 1.25"></span>
            <% end %>
            <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li>
                  <%= link_to edit_admin_admin_path(current_admin) do %>
                    <span class="uk-margin-small-right" uk-icon="icon: settings"></span>Paramètres
                  <% end %>
                </li>
                <li class="uk-nav-divider"></li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete do %>
                    <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>Déconnexion
                  <% end %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      <% end %>
      <% if user_signed_in? %>
        <ul class="uk-navbar-nav">
          <li>
            <%= link_to '#', class: 'uk-navbar-toggle uk-hidden@m', data: {action: 'navbar#toggle'} do %>
              <span uk-navbar-toggle-icon></span>
            <% end %>
          </li>
          <li>
            <%= link_to '#', class: 'uk-margin-medium-right uk-visible@m' do %>
              <span uk-icon="icon: user; ratio: 1.25"></span>
            <% end %>
            <div uk-dropdown>
              <ul class="uk-nav uk-dropdown-nav">
                <li>
                  <%= link_to edit_user_user_path(current_user) do %>
                    <span class="uk-margin-small-right" uk-icon="icon: settings"></span>Paramètres
                  <% end %>
                </li>
                <li class="uk-nav-divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>Déconnexion
                  <% end %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>

  <%= yield %>

  <div id="offcanvas-navbar" uk-offcanvas="mode: push">
    <div class="uk-offcanvas-bar">

      <button class="uk-offcanvas-close" type="button" uk-close></button>

      <ul class="uk-nav uk-nav-default">
        <li class="uk-nav-header">General</li>
        <li>
          <%= link_to admin_industrial_units_path, data: { target: 'navbar.link' } do %>
            Unités Industrielles
          <% end %>
        </li>
        <li>
          <%= link_to admin_tap_templates_path, data: { target: 'navbar.link' } do %>
            Modèles
          <% end %>
        </li>
        <li>
          <%= link_to admin_faucets_path, data: { target: 'navbar.link' } do %>
            Robinets
          <% end %>
        </li>
        <li>
          <%= link_to admin_events_path, data: { target: 'navbar.link' } do %>
            Évènements
          <% end %>
        </li>
        <li>
          <%= link_to admin_peoples_path, data: { target: 'navbar.link' } do %>
            Utilisateurs
          <% end %>
        </li>
        <li>
          <%= link_to admin_alerts_path, data: {target: 'navbar.link'} do %>
            Alertes
          <% end %>
        </li>
        <li>
          <%= link_to admin_attachments_path, data: {target: 'navbar.link'} do %>
            GED
          <% end %>
        </li>
        <li class="uk-nav-divider"></li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            Déconnexion
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>