<%= form_with(model: [:admin, @faucet], local: true, data: { controller: 'form', form_errors: faucet.errors.messages.keys.join(',') }) do |form| %>
  <fieldset class="uk-fieldset">
    <% if faucet.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: faucet.errors.count, model: 'robinet') %></h2>

        <ul>
          <% faucet.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <ul class="uk-list-large uk-list-divider" uk-accordion>
      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Identification du robinet<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :name, "Type", class: 'uk-form-label' %>
            <%= form.text_field :name, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :article_number, "N° article", class: 'uk-form-label' %>
            <%= form.text_field :article_number, class: 'uk-input', data: {target: 'form.input'} %>
          </div>

          <div class="uk-margin">
            <%= form.label :dn, "DN", class: 'uk-form-label' %>
            <%= form.text_field :dn, class: 'uk-input', data: {target: 'form.input'} %>
          </div>

          <div class="uk-margin">
            <%= form.label :rfid_number, "N° puce RFID", class: 'uk-form-label' %>
            <%= form.text_field :rfid_number, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :serial_number, "N° série REG", class: 'uk-form-label' %>
            <%= form.number_field :serial_number, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :number_customer_tag, "TAG client", class: 'uk-form-label' %>
            <%= form.number_field :number_customer_tag, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin" data-controller="date-select">
            <%= form.label :manufacturing_date, "Date de fabrication", class: 'uk-form-label' %>
            <%= form.hidden_field :manufacturing_date, data: { target: 'date-select.date' } %>

            <div uk-grid>
              <div class="uk-width-1-1@s uk-width-1-3@m">
                <%= select_day nil, { include_blank: true }, { class: 'uk-select', data: { target: 'date-select.day', action: 'date-select#date' } } %>
              </div>
              <div class="uk-width-1-1@s uk-width-1-3@m">
                <%= select_month nil, { include_blank: true }, { class: 'uk-select', data: { target: 'date-select.month', action: 'date-select#date' } } %>
              </div>
              <div class="uk-width-1-1@s uk-width-1-3@m uk-hidden">
                <%= select_year nil, { include_blank: true }, { class: 'uk-select', data: { target: 'date-select.year', action: 'date-select#date' } } %>
              </div>
            </div>
          </div>

          <div class="uk-margin">
            <%= form.label :sales_number, "N° vente REG", class: 'uk-form-label' %>
            <%= form.text_field :sales_number, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :customer_order_number, "N° commande client", class: 'uk-form-label' %>
            <%= form.text_field :customer_order_number, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :industrial_unit_id, "Unité Industrielle", class: 'uk-form-label' %>
            <%= form.select :industrial_unit_id, IndustrialUnit.all.collect { |industrial_unit| [ industrial_unit.name, industrial_unit.id ] },
                            { include_blank: true }, { class: 'uk-select', data: { target: 'form.input' } } %>
          </div>

          <div class="uk-margin">
            <%= form.label :input_connection, "Raccordement entrée", class: 'uk-form-label' %>
            <%= form.text_field :input_connection, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :output_connection, "Raccordement sortie", class: 'uk-form-label' %>
            <%= form.text_field :output_connection, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :double_jacket_connection, "Raccordement de double enveloppe", class: 'uk-form-label' %>
            <%= form.text_field :double_jacket_connection, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :inclination_input_offset_output, "Inclinaison/décalage entrée/sortie", class: 'uk-form-label' %>
            <%= form.text_field :inclination_input_offset_output, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :face_to_face, "Face à face", class: 'uk-form-label' %>
            <%= form.text_field :face_to_face, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Conditions de service / Limite d'utilisation<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :maximal_pressure, "Pression Maximale (PS) à 20°C (bar)", class: 'uk-form-label' %>
            <%= form.text_field :maximal_pressure, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :test_pressure, "Pression d'épreuve à 20°C (bar)", class: 'uk-form-label' %>
            <%= form.text_field :test_pressure, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :maximum_temperature, "Température maximum", class: 'uk-form-label' %>
            <%= form.text_field :maximum_temperature, class: 'uk-input uk-width-small uk-margin-left uk-margin-right', data: { target: 'form.input' } %>
            <%= form.label :pressure_at_maximum_temperature, "°C à", class: 'uk-form-label' %>
            <%= form.text_field :pressure_at_maximum_temperature, class: 'uk-input uk-width-small uk-margin-left uk-margin-right', data: {target: 'form.input'} %>
            <span class="uk-form-label">bars</span>
          </div>

          <div class="uk-margin">
            <%= form.label :minimum_temperature, "Température minimum", class: 'uk-form-label' %>
            <%= form.text_field :minimum_temperature, class: 'uk-input uk-width-small uk-margin-left uk-margin-right', data: { target: 'form.input' } %>
            <%= form.label :pressure_at_minimum_temperature, "°C à", class: 'uk-form-label' %>
            <%= form.text_field :pressure_at_minimum_temperature, class: 'uk-input uk-width-small uk-margin-left uk-margin-right', data: {target: 'form.input'} %>
            <span class="uk-form-label">bars</span>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_instruction_service_attachment, "Ajouter un document d'instruction de service existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_instruction_service_attachment, Attachment.where(kind: :instruction_service).collect { |attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :instruction_service).ids}, {multiple: true, id: 'existing_instruction_service_attachment', data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_instruction_service_attachment, Attachment.where(kind: :instruction_service).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :instruction_service).ids}, {multiple: true, id: 'existing_instruction_service_attachment', data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_instruction_service_attachment, "Ajouter un nouveau document d'instruction de service", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_instruction_service_attachment, multiple: true %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Données déclarées par le client<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :fluid_name, "Nom du fluide", class: 'uk-form-label' %>
            <%= form.text_field :fluid_name, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :pressure, "Pression (bar)", class: 'uk-form-label' %>
            <%= form.text_field :pressure, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :temperature, "Température (°C)", class: 'uk-form-label' %>
            <%= form.text_field :temperature, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Catégorie de risque selon DESP 2014/68<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :fluid_nature, "Nature du fluide", class: 'uk-form-label' %>
            <%= form.select :fluid_nature, [ ['Liquide', 0], ['Gaz', 1] ], { include_blank: true }, { class: 'uk-select', data: { target: 'form.input' } } %>
          </div>

          <div class="uk-margin">
            <%= form.label :fluid_danger_group, "Groupe de danger du  fluide", class: 'uk-form-label' %>
            <%= form.select :fluid_danger_group, [ ['I', 0], ['II', 1] ], { include_blank: true}, { class: 'uk-select', data: { target: 'form.input' } } %>
          </div>

          <div class="uk-margin">
            <%= form.label :unstable_gas, "Gaz instable", class: 'uk-form-label' %>
            <%= form.check_box :unstable_gas, class: 'uk-checkbox', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :risk_category, "Catégorie de risque selon DESP 2014/68", class: 'uk-form-label' %>
            <%= form.select :risk_category, [ ['Article 4&3', 0], ['I', 1], ['II', 2], ['III', 3], ['IV', 4] ], { include_blank: true }, { class: 'uk-select',  data: { target: 'form.input' } } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Actionnement - Système de manœuvre<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :manual_control, "Commande manuelle", class: 'uk-form-label' %>
            <%= form.text_field :manual_control, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :actuator, "Actionneur", class: 'uk-form-label' %>
            <%= form.text_field :actuator, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_actionnement_actionneur_attachment, "Ajouter un document d'actionneur existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_actionnement_actionneur_attachment, Attachment.where(kind: :actionnement_actionneur).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :actionnement_actionneur).ids}, {multiple: true, id: 'existing_actionnement_actionneur_attachment', data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_actionnement_actionneur_attachment, Attachment.where(kind: :actionnement_actionneur).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :actionnement_actionneur).ids}, {multiple: true, id: 'existing_actionnement_actionneur_attachment', data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_actionnement_actionneur_attachment, "Ajouter un nouveau document d'actionneur existant", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_actionnement_actionneur_attachment, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :pneumatic_actuator_pressure, "Pression actionneur pneumatique", class: 'uk-form-label' %>
            <%= form.text_field :pneumatic_actuator_pressure, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Instrumentation<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :position_detector, "Détecteur de position", class: 'uk-form-label' %>
            <%= form.text_field :position_detector, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_instrumentation_position_attachment, "Ajouter un document de détecteur de position existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_instrumentation_position_attachment, Attachment.where(kind: :instrumentation_position).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :instrumentation_position).ids}, {multiple: true, id: 'existing_instrumentation_position_attachment', data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_instrumentation_position_attachment, Attachment.where(kind: :instrumentation_position).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :instrumentation_position).ids}, {multiple: true, id: 'existing_instrumentation_position_attachment', data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_instrumentation_position_attachment, "Ajouter un nouveau document de détecteur de position existant", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_instrumentation_position_attachment, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :open_position, "Position ouverte", class: 'uk-form-label' %>
            <%= form.text_field :open_position, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :close_position, "Position fermée", class: 'uk-form-label' %>
            <%= form.text_field :close_position, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :piloting, "Pilotage", class: 'uk-form-label' %>
            <%= form.text_field :piloting, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_instrumentation_pilotage_attachment, "Ajouter un document de pilotage existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_instrumentation_pilotage_attachment, Attachment.where(kind: :instrumentation_pilotage).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :instrumentation_pilotage).ids}, {multiple: true, id: 'existing_instrumentation_pilotage_attachment', data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_instrumentation_pilotage_attachment, Attachment.where(kind: :instrumentation_pilotage).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :instrumentation_pilotage).ids}, {multiple: true, id: 'existing_instrumentation_pilotage_attachment', data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_instrumentation_pilotage_attachment, "Ajouter un nouveau document de pilotage existant", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_instrumentation_pilotage_attachment, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :other_instrumentation, "Autres instrumentation", class: 'uk-form-label' %>
            <%= form.text_field :other_instrumentation, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_instrumentation_autre_attachment, "Ajouter un document d'autre instrumentation existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_instrumentation_autre_attachment, Attachment.where(kind: :instrumentation_autre).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :instrumentation_autre).ids}, {multiple: true, id: 'existing_instrumentation_autre_attachment', data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_instrumentation_autre_attachment, Attachment.where(kind: :instrumentation_autre).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :instrumentation_autre).ids}, {multiple: true, id: 'existing_instrumentation_autre_attachment', data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_instrumentation_autre_attachment, "Ajouter un nouveau document d'autre instrumentation existant", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_instrumentation_autre_attachment, multiple: true %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Matériaux<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :shell, "Enveloppe", class: 'uk-form-label' %>
            <%= form.text_field :shell, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :double_shell, "Double enveloppe", class: 'uk-form-label' %>
            <%= form.text_field :double_shell, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :shutter_cover, "Obturateur (partie mobile)", class: 'uk-form-label' %>
            <%= form.text_field :shutter_cover, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :seat, "Siège (partie fixe)", class: 'uk-form-label' %>
            <%= form.text_field :seat, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :cable_gland_packing, "Garniture de presse étoupe", class: 'uk-form-label' %>
            <%= form.text_field :cable_gland_packing, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :seals, "Joints", class: 'uk-form-label' %>
            <%= form.text_field :seals, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :material_certificates_required, "Certificats matières demandés", class: 'uk-form-label' %>
            <%= form.check_box :material_certificates_required, class: 'uk-checkbox', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Exigences particulières<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :atex, "ATEX", class: 'uk-form-label' %>
            <%= form.text_field :atex, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :other_special_requirements, "Autres exigences particulières", class: 'uk-form-label' %>
            <%= form.text_field :other_special_requirements, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Contrôles<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :other_controls, "Autres contrôles", class: 'uk-form-label' %>
            <%= form.text_field :other_controls, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Autres<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :other, "Autres", class: 'uk-form-label' %>
            <%= form.text_field :other, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :note, "Note", class: 'uk-form-label' %>
            <%= form.text_area :note, class: 'uk-textarea', data: {target: 'form.input'} %>
          </div>
        </div>
      </li>
    </ul>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', admin_faucets_path, class: 'uk-button uk-button-default' %>
      <%= form.submit "Enregistrer", class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>

<script>
    $(document).ready(function () {
        $('#existing_instruction_service_attachment').select2();
        $('#existing_instrumentation_position_attachment').select2();
        $('#existing_instrumentation_pilotage_attachment').select2();
        $('#existing_instrumentation_autre_attachment').select2();
        $('#existing_actionnement_actionneur_attachment').select2();
    });
</script>
