<%= form_with(model: [:admin, @faucet], local: true, data: { controller: 'form', form_errors: faucet.errors.messages.keys.join(',') }) do |form| %>
  <fieldset class="uk-fieldset">
    <% if faucet.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: faucet.errors.count, model: 'robinet') %></h2>

        <ul>
          <% faucet.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <ul class="uk-list-large uk-list-divider" uk-accordion>
      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Identification du robinet<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :name, "Type", class: 'uk-form-label' %>
            <%= form.text_field :name, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :article_number, "N° article", class: 'uk-form-label' %>
            <%= form.text_field :article_number, class: 'uk-input', data: {target: 'form.input'} %>
          </div>

          <div class="uk-margin">
            <%= form.label :dn, "DN", class: 'uk-form-label' %>
            <%= form.text_field :dn, class: 'uk-input', data: {target: 'form.input'} %>
          </div>

          <div class="uk-margin">
            <%= form.label :rfid_number, "N° puce RFID", class: 'uk-form-label' %>
            <%= form.text_field :rfid_number, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :serial_number, "N° série REG", class: 'uk-form-label' %>
            <%= form.number_field :serial_number, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :number_customer_tag, "TAG client", class: 'uk-form-label' %>
            <%= form.number_field :number_customer_tag, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin" data-controller="date-select">
            <%= form.label :manufacturing_date, "Date de fabrication", class: 'uk-form-label' %>
            <%= form.hidden_field :manufacturing_date, data: { target: 'date-select.date' } %>

            <div uk-grid>
              <div class="uk-width-1-1@s uk-width-1-3@m">
                <%= select_day nil, { include_blank: true }, { class: 'uk-select', data: { target: 'date-select.day', action: 'date-select#date' } } %>
              </div>
              <div class="uk-width-1-1@s uk-width-1-3@m">
                <%= select_month nil, { include_blank: true }, { class: 'uk-select', data: { target: 'date-select.month', action: 'date-select#date' } } %>
              </div>
              <div class="uk-width-1-1@s uk-width-1-3@m uk-hidden">
                <%= select_year nil, { include_blank: true }, { class: 'uk-select', data: { target: 'date-select.year', action: 'date-select#date' } } %>
              </div>
            </div>
          </div>

          <div class="uk-margin">
            <%= form.label :sales_number, "N° vente REG", class: 'uk-form-label' %>
            <%= form.text_field :sales_number, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :customer_order_number, "N° commande client", class: 'uk-form-label' %>
            <%= form.text_field :customer_order_number, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :industrial_unit_id, "Unité Industrielle", class: 'uk-form-label' %>
            <%= form.select :industrial_unit_id, IndustrialUnit.all.collect { |industrial_unit| [ industrial_unit.name, industrial_unit.id ] },
                            { include_blank: true }, { class: 'uk-select', data: { target: 'form.input' } } %>
          </div>

          <div class="uk-margin">
            <%= form.label :input_connection, "Raccordement entrée", class: 'uk-form-label' %>
            <%= form.text_field :input_connection, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :output_connection, "Raccordement sortie", class: 'uk-form-label' %>
            <%= form.text_field :output_connection, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :double_jacket_connection, "Raccordement de double enveloppe", class: 'uk-form-label' %>
            <%= form.text_field :double_jacket_connection, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :inclination_input_offset_output, "Inclinaison/décalage entrée/sortie", class: 'uk-form-label' %>
            <%= form.text_field :inclination_input_offset_output, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :face_to_face, "Face à face", class: 'uk-form-label' %>
            <%= form.text_field :face_to_face, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Conditions de service / Limite d'utilisation<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :maximal_pressure, "Pression Maximale (PS) à 20°C (bar)", class: 'uk-form-label' %>
            <%= form.text_field :maximal_pressure, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :test_pressure, "Pression d'épreuve à 20°C (bar)", class: 'uk-form-label' %>
            <%= form.text_field :test_pressure, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :maximum_temperature, "Température maximum", class: 'uk-form-label' %>
            <%= form.text_field :maximum_temperature, class: 'uk-input uk-width-small uk-margin-left uk-margin-right', data: { target: 'form.input' } %>
            <%= form.label :pressure_at_maximum_temperature, "°C à", class: 'uk-form-label' %>
            <%= form.text_field :pressure_at_maximum_temperature, class: 'uk-input uk-width-small uk-margin-left uk-margin-right', data: {target: 'form.input'} %>
            <span class="uk-form-label">bars</span>
          </div>

          <div class="uk-margin">
            <%= form.label :minimum_temperature, "Température minimum", class: 'uk-form-label' %>
            <%= form.text_field :minimum_temperature, class: 'uk-input uk-width-small uk-margin-left uk-margin-right', data: { target: 'form.input' } %>
            <%= form.label :pressure_at_minimum_temperature, "°C à", class: 'uk-form-label' %>
            <%= form.text_field :pressure_at_minimum_temperature, class: 'uk-input uk-width-small uk-margin-left uk-margin-right', data: {target: 'form.input'} %>
            <span class="uk-form-label">bars</span>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Données déclarées par le client<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :fluid_name, "Nom du fluide", class: 'uk-form-label' %>
            <%= form.text_field :fluid_name, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :pressure, "Pression (bar)", class: 'uk-form-label' %>
            <%= form.text_field :pressure, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :temperature, "Température (°C)", class: 'uk-form-label' %>
            <%= form.text_field :temperature, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Catégorie de risque selon DESP 2014/68<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :fluid_nature, "Nature du fluide", class: 'uk-form-label' %>
            <%= form.select :fluid_nature, [ ['Liquide', 0], ['Gaz', 1] ], { include_blank: true }, { class: 'uk-select', data: { target: 'form.input' } } %>
          </div>

          <div class="uk-margin">
            <%= form.label :fluid_danger_group, "Groupe de danger du  fluide", class: 'uk-form-label' %>
            <%= form.select :fluid_danger_group, [ ['I', 0], ['II', 1] ], { include_blank: true}, { class: 'uk-select', data: { target: 'form.input' } } %>
          </div>

          <div class="uk-margin">
            <%= form.label :unstable_gas, "Gaz instable", class: 'uk-form-label' %>
            <%= form.check_box :unstable_gas, class: 'uk-checkbox', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :risk_category, "Catégorie de risque selon DESP 2014/68", class: 'uk-form-label' %>
            <%= form.select :risk_category, [ ['Article 4&3', 0], ['I', 1], ['II', 2], ['III', 3], ['IV', 4] ], { include_blank: true }, { class: 'uk-select',  data: { target: 'form.input' } } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Actionnement - Système de manœuvre<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :manual_control, "Commande manuelle", class: 'uk-form-label' %>
            <%= form.check_box :manual_control_checkbox, checked: @faucet.manual_control.present?, class: 'uk-checkbox' %>
            <%= form.text_field :manual_control, class: 'uk-input', disabled: @faucet.manual_control.blank?, data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :actuator, "Actionneur", class: 'uk-form-label' %>
            <%= form.check_box :actuator_checkbox, checked: @faucet.actuator.present?, class: 'uk-checkbox' %>
            <%= form.text_field :actuator, class: 'uk-input', disabled: @faucet.actuator.blank?, data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_actionnement_actionneur_attachment, "Ajouter un document d'actionneur existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_actionnement_actionneur_attachment, Attachment.where(kind: :actionnement_actionneur).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :actionnement_actionneur).ids}, {multiple: true, id: 'existing_actionnement_actionneur_attachment', disabled: @tap_template.attachments.where(kind: :actionnement_actionneur).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_actionnement_actionneur_attachment, Attachment.where(kind: :instruction_service).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :instruction_service).ids}, {multiple: true, id: 'existing_actionnement_actionneur_attachment', disabled: @faucet.attachments.where(kind: :instruction_service).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_actionnement_actionneur_attachment, "Ajouter un nouveau document d'actionneur existant", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_actionnement_actionneur_attachment, disabled: @faucet.actuator.blank?, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :pneumatic_actuator_pressure, "Pression actionneur pneumatique", class: 'uk-form-label' %>
            <%= form.check_box :pneumatic_actuator_pressure_checkbox, checked: @faucet.pneumatic_actuator_pressure.present?, class: 'uk-checkbox' %>
            <%= form.text_field :pneumatic_actuator_pressure, class: 'uk-input', disabled: @faucet.pneumatic_actuator_pressure.blank?, data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Instrumentation<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :position_detector, "Détecteur de position", class: 'uk-form-label' %>
            <%= form.check_box :position_detector_checkbox, checked: @faucet.position_detector.present?, class: 'uk-checkbox' %>
            <%= form.text_field :position_detector, class: 'uk-input', disabled: @faucet.position_detector.blank?, data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_instrumentation_position_attachment, "Ajouter un document de détecteur de position existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_instrumentation_position_attachment, Attachment.where(kind: :instrumentation_position).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :instrumentation_position).ids}, {multiple: true, id: 'existing_instrumentation_position_attachment', disabled: @tap_template.attachments.where(kind: :instrumentation_position).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_instrumentation_position_attachment, Attachment.where(kind: :instrumentation_position).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :instrumentation_position).ids}, {multiple: true, id: 'existing_instrumentation_position_attachment', disabled: @faucet.attachments.where(kind: :instrumentation_position).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_instrumentation_position_attachment, "Ajouter un nouveau document de détecteur de position", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_instrumentation_position_attachment, disabled: @faucet.position_detector.blank?, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :open_position, "Position ouverte", class: 'uk-form-label' %>
            <%= form.check_box :open_position, class: 'uk-checkbox', disabled: @faucet.open_position.blank?, data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_open_position_attachment, "Ajouter un document de position ouverte existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_open_position_attachment, Attachment.where(kind: :open_position).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :open_position).ids}, {multiple: true, id: 'existing_open_position_attachment', disabled: !@faucet.open_position, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_open_position_attachment, Attachment.where(kind: :open_position).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :open_position).ids}, {multiple: true, id: 'existing_open_position_attachment', disabled: !@faucet.open_position, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_open_position_attachment, "Ajouter un nouveau document de détecteur de position", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_open_position_attachment, disabled: !@faucet.open_position, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :close_position, "Position fermée", class: 'uk-form-label' %>
            <%= form.check_box :close_position, class: 'uk-checkbox', disabled: @faucet.close_position.blank?, data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_close_position_attachment, "Ajouter un document de position ouverte existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_close_position_attachment, Attachment.where(kind: :open_position).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :close_position).ids}, {multiple: true, id: 'existing_close_position_attachment', disabled: !@faucet.close_position, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_close_position_attachment, Attachment.where(kind: :open_position).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :close_position).ids}, {multiple: true, id: 'existing_close_position_attachment', disabled: !@faucet.close_position, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_close_position_attachment, "Ajouter un nouveau document de détecteur de position", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_close_position_attachment, disabled: !@faucet.close_position, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :piloting, "Pilotage", class: 'uk-form-label' %>
            <%= form.check_box :piloting_checkbox, checked: @faucet.piloting.present?, class: 'uk-checkbox' %>
            <%= form.text_field :piloting, class: 'uk-input', disabled: @faucet.piloting.blank?, data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_instrumentation_pilotage_attachment, "Ajouter un document de pilotage existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_instrumentation_pilotage_attachment, Attachment.where(kind: :instrumentation_pilotage).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :instrumentation_pilotage).ids}, {multiple: true, id: 'existing_instrumentation_pilotage_attachment', disabled: @tap_template.attachments.where(kind: :instrumentation_pilotage).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_instrumentation_pilotage_attachment, Attachment.where(kind: :instrumentation_pilotage).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :instrumentation_pilotage).ids}, {multiple: true, id: 'existing_instrumentation_pilotage_attachment', disabled: @faucet.attachments.where(kind: :instrumentation_pilotage).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_instrumentation_pilotage_attachment, "Ajouter un nouveau document de pilotage", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_instrumentation_pilotage_attachment, disabled: @faucet.piloting.blank?, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :other_instrumentation, "Autres instrumentation", class: 'uk-form-label' %>
            <%= form.check_box :other_instrumentation_checkbox, checked: @faucet.other_instrumentation.present?, class: 'uk-checkbox' %>
            <%= form.text_field :other_instrumentation, disabled: @faucet.other_instrumentation.blank?, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_instrumentation_autre_attachment, "Ajouter un document d'autre instrumentation existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_instrumentation_autre_attachment, Attachment.where(kind: :instrumentation_autre).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :instrumentation_autre).ids}, {multiple: true, id: 'existing_instrumentation_autre_attachment', disabled: @tap_template.attachments.where(kind: :instrumentation_autre).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_instrumentation_autre_attachment, Attachment.where(kind: :instrumentation_autre).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :instrumentation_autre).ids}, {multiple: true, id: 'existing_instrumentation_autre_attachment', disabled: @faucet.attachments.where(kind: :instrumentation_autre).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_instrumentation_autre_attachment, "Ajouter un nouveau document d'autre instrumentation", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_instrumentation_autre_attachment, disabled: @faucet.other_instrumentation.blank?, multiple: true %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Matériaux<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :shell, "Enveloppe", class: 'uk-form-label' %>
            <%= form.text_field :shell, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :double_shell, "Double enveloppe", class: 'uk-form-label' %>
            <%= form.check_box :double_shell_checkbox, checked: @faucet.double_shell.present?, class: 'uk-checkbox' %>
            <%= form.text_field :double_shell, class: 'uk-input', disabled: @faucet.double_shell.blank?, data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :shutter_cover, "Obturateur (partie mobile)", class: 'uk-form-label' %>
            <%= form.text_field :shutter_cover, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :seat, "Siège (partie fixe)", class: 'uk-form-label' %>
            <%= form.text_field :seat, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :cable_gland_packing, "Garniture de presse étoupe", class: 'uk-form-label' %>
            <%= form.text_field :cable_gland_packing, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :seals, "Joints", class: 'uk-form-label' %>
            <%= form.text_field :seals, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :material_certificates_required, "Certificats matières demandés", class: 'uk-form-label' %>
            <%= form.check_box :material_certificates_required, class: 'uk-checkbox', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_certif_corps_attachment, "Ajouter un document de certificat matière Corps existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_certif_corps_attachment, Attachment.where(kind: :certif_corps).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :certif_corps).ids}, {multiple: true, id: 'existing_certif_corps_attachment', disabled: @tap_template.attachments.where(kind: :certif_corps).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_certif_corps_attachment, Attachment.where(kind: :certif_corps).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :certif_corps).ids}, {multiple: true, id: 'existing_certif_corps_attachment', disabled: @faucet.attachments.where(kind: :certif_corps).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_certif_corps_attachment, "Ajouter un nouveau document de certificat matière Corps", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_certif_corps_attachment, disabled: !@faucet.material_certificates_required, multiple: true %>
          </div>


          <div class="uk-margin">
            <%= form.label :existing_certif_chapeau_attachment, "Ajouter un document de certificat matière Chapeau existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_certif_chapeau_attachment, Attachment.where(kind: :certif_chapeau).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :certif_chapeau).ids}, {multiple: true, id: 'existing_certif_chapeau_attachment', disabled: @tap_template.attachments.where(kind: :certif_chapeau).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_certif_chapeau_attachment, Attachment.where(kind: :certif_chapeau).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :certif_chapeau).ids}, {multiple: true, id: 'existing_certif_chapeau_attachment', disabled: @faucet.attachments.where(kind: :certif_chapeau).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_certif_chapeau_attachment, "Ajouter un nouveau document de certificat matière Chapeau", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_certif_chapeau_attachment, disabled: !@faucet.material_certificates_required, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_certif_tige_attachment, "Ajouter un document de certificat matière Tige existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_certif_tige_attachment, Attachment.where(kind: :certif_tige).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :certif_tige).ids}, {multiple: true, id: 'existing_certif_tige_attachment', disabled: @tap_template.attachments.where(kind: :certif_tige).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_certif_tige_attachment, Attachment.where(kind: :certif_tige).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :certif_tige).ids}, {multiple: true, id: 'existing_certif_tige_attachment', disabled: @faucet.attachments.where(kind: :certif_tige).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_certif_tige_attachment, "Ajouter un nouveau document de certificat matière Tige", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_certif_tige_attachment, disabled: !@faucet.material_certificates_required, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_certif_clapet_attachment, "Ajouter un document de certificat matière Clapet existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_certif_clapet_attachment, Attachment.where(kind: :certif_clapet).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :certif_clapet).ids}, {multiple: true, id: 'existing_certif_clapet_attachment', disabled: @tap_template.attachments.where(kind: :certif_clapet).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_certif_clapet_attachment, Attachment.where(kind: :certif_clapet).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :certif_clapet).ids}, {multiple: true, id: 'existing_certif_clapet_attachment', disabled: @faucet.attachments.where(kind: :certif_clapet).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_certif_clapet_attachment, "Ajouter un nouveau document de certificat matière Clapet", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_certif_clapet_attachment, disabled: !@faucet.material_certificates_required, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_certif_siege_attachment, "Ajouter un document de certificat matière Siège existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_certif_siege_attachment, Attachment.where(kind: :certif_siege).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :certif_siege).ids}, {multiple: true, id: 'existing_certif_siege_attachment', disabled: @tap_template.attachments.where(kind: :certif_siege).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_certif_siege_attachment, Attachment.where(kind: :certif_siege).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :certif_siege).ids}, {multiple: true, id: 'existing_certif_siege_attachment', disabled: @faucet.attachments.where(kind: :certif_siege).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_certif_siege_attachment, "Ajouter un nouveau document de certificat matière Siège", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_certif_siege_attachment, disabled: !@faucet.material_certificates_required, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_certif_autre_attachment, "Ajouter un document de certificat matière Autre existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_certif_autre_attachment, Attachment.where(kind: :certif_autre).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :certif_autre).ids}, {multiple: true, id: 'existing_certif_autre_attachment', disabled: @tap_template.attachments.where(kind: :certif_autre).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_certif_autre_attachment, Attachment.where(kind: :certif_autre).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :certif_autre).ids}, {multiple: true, id: 'existing_certif_autre_attachment', disabled: @faucet.attachments.where(kind: :certif_autre).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_certif_autre_attachment, "Ajouter un nouveau document de certificat matière Autre", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_certif_autre_attachment, disabled: !@faucet.material_certificates_required, multiple: true %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Exigences particulières<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :atex, "ATEX", class: 'uk-form-label' %>
            <%= form.check_box :atex_checkbox, checked: @faucet.atex.present?, class: 'uk-checkbox' %>
            <%= form.text_field :atex, class: 'uk-input', disabled: @faucet.atex.blank?, data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :other_special_requirements, "Autres exigences particulières", class: 'uk-form-label' %>
            <%= form.check_box :other_special_requirements_checkbox, checked: @faucet.other_special_requirements.present?, class: 'uk-checkbox' %>
            <%= form.text_field :other_special_requirements, class: 'uk-input', disabled: @faucet.other_special_requirements.blank?, data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_special_requirement_attachment, "Ajouter un document d'Autre exigence particulière existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_special_requirement_attachment, Attachment.where(kind: :special_requirement).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :special_requirement).ids}, {multiple: true, id: 'existing_special_requirement_attachment', disabled: @tap_template.attachments.where(kind: :special_requirement).blank?, data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_special_requirement_attachment, Attachment.where(kind: :special_requirement).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :special_requirement).ids}, {multiple: true, id: 'existing_special_requirement_attachment', disabled: @faucet.attachments.where(kind: :special_requirement).blank?, data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_special_requirement_attachment, "Ajouter un nouveau document d'Autre exigence particulière", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_special_requirement_attachment, disabled: @faucet.other_special_requirements.blank?, multiple: true %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Contrôles<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :other_controls, "Autres contrôles", class: 'uk-form-label' %>
            <%= form.text_field :other_controls, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_control_attachment, "Ajouter un document d'Autre contrôle", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_control_attachment, Attachment.where(kind: :control).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :control).ids}, {multiple: true, id: 'existing_control_attachment', data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_control_attachment, Attachment.where(kind: :control).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :control).ids}, {multiple: true, id: 'existing_control_attachment', data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_control_attachment, "Ajouter un nouveau document d'Autre contrôle", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_control_attachment, multiple: true %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Documentation<% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :existing_documentation_plan_attachment, "Ajouter un document de plan existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_documentation_plan_attachment, Attachment.where(kind: :documentation_plan).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :documentation_plan).ids}, {multiple: true, id: 'existing_documentation_plan_attachment', data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_documentation_plan_attachment, Attachment.where(kind: :documentation_plan).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :documentation_plan).ids}, {multiple: true, id: 'existing_documentation_plan_attachment', data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_documentation_plan_attachment, "Ajouter un nouveau document de plan", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_documentation_plan_attachment, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :existing_instruction_service_attachment, "Ajouter un document d'instruction de service existant", class: 'uk-form-label' %>
            <% if @tap_template.present? %>
              <%= form.select :existing_instruction_service_attachment, Attachment.where(kind: :instruction_service).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @tap_template.attachments.where(kind: :instruction_service).ids}, {multiple: true, id: 'existing_instruction_service_attachment', data: {target: 'form.input'}} %>
            <% else %>
              <%= form.select :existing_instruction_service_attachment, Attachment.where(kind: :instruction_service).collect {|attachment| [attachment.pdf.blob.filename, attachment.id] if attachment.pdf.attached?}.compact,
                              {selected: @faucet.attachments.where(kind: :instruction_service).ids}, {multiple: true, id: 'existing_instruction_service_attachment', data: {target: 'form.input'}} %>
            <% end %>
          </div>

          <div class="uk-margin">
            <div>
              <%= form.label :new_instruction_service_attachment, "Ajouter un nouveau document d'instruction de service", class: 'uk-form-label' %>
            </div>
            <%= form.file_field :new_instruction_service_attachment, multiple: true %>
          </div>

          <div class="uk-margin">
            <%= form.label :other, "Autres", class: 'uk-form-label' %>
            <%= form.text_field :other, class: 'uk-input', data: {target: 'form.input'} %>
          </div>

          <div class="uk-margin">
            <%= form.label :note, "Note", class: 'uk-form-label' %>
            <%= form.text_area :note, class: 'uk-textarea', data: {target: 'form.input'} %>
          </div>
        </div>
      </li>
    </ul>

    <div class="uk-margin">
      <%= form.label :archived, "Archiver le robinet", class: 'uk-form-label' %>
      <%= form.check_box :archived, class: 'uk-checkbox', data: {target: 'form.input'} %>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', admin_faucets_path, class: 'uk-button uk-button-default' %>
      <%= form.submit "Enregistrer", class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>

<script>
    $(document).ready(function () {
        $('#existing_instruction_service_attachment').select2();
        $('#existing_instrumentation_position_attachment').select2();
        $('#existing_instrumentation_pilotage_attachment').select2();
        $('#existing_instrumentation_autre_attachment').select2();
        $('#existing_actionnement_actionneur_attachment').select2();
        $('#existing_open_position_attachment').select2();
        $('#existing_close_position_attachment').select2();
        $('#existing_certif_corps_attachment').select2();
        $('#existing_certif_chapeau_attachment').select2();
        $('#existing_certif_tige_attachment').select2();
        $('#existing_certif_clapet_attachment').select2();
        $('#existing_certif_siege_attachment').select2();
        $('#existing_certif_autre_attachment').select2();
        $('#existing_special_requirement_attachment').select2();
        $('#existing_control_attachment').select2();
        $('#existing_documentation_plan_attachment').select2();

        $("#faucet_manual_control_checkbox").click(function () {
            const isDisabled = $("#faucet_manual_control_checkbox").prop('checked');
            if (isDisabled) {
                $("#faucet_manual_control").removeAttr("disabled");
            } else {
                $("#faucet_manual_control").prop('disabled', true)
            }
        });

        $("#faucet_pneumatic_actuator_pressure_checkbox").click(function () {
            const isDisabled = $("#faucet_pneumatic_actuator_pressure_checkbox").prop('checked');
            if (isDisabled) {
                $("#faucet_pneumatic_actuator_pressure").removeAttr("disabled");
            } else {
                $("#faucet_pneumatic_actuator_pressure").prop('disabled', true)
            }
        });

        $("#faucet_double_shell_checkbox").click(function () {
            const isDisabled = $("#faucet_double_shell_checkbox").prop('checked');
            if (isDisabled) {
                $("#faucet_double_shell").removeAttr("disabled");
            } else {
                $("#faucet_double_shell").prop('disabled', true)
            }
        });

        $("#faucet_atex_checkbox").click(function () {
            const isDisabled = $("#faucet_atex_checkbox").prop('checked');
            if (isDisabled) {
                $("#faucet_atex").removeAttr("disabled");
            } else {
                $("#faucet_atex").prop('disabled', true)
            }
        });

        $("#faucet_other_special_requirements_checkbox").click(function () {
            const isDisabled = $("#faucet_other_special_requirements_checkbox").prop('checked');
            if (isDisabled) {
                $("#faucet_other_special_requirements").removeAttr("disabled");
            } else {
                $("#faucet_other_special_requirements").prop('disabled', true)
            }
        });

        $("#faucet_actuator_checkbox").click(function () {
            const isDisabled = $("#faucet_actuator_checkbox").prop('checked');
            if (isDisabled) {
                $("#faucet_actuator").removeAttr("disabled");
                $("#faucet_new_actionnement_actionneur_attachment").removeAttr("disabled");
                $("#existing_actionnement_actionneur_attachment").removeAttr("disabled");
            } else {
                $("#faucet_actuator").prop('disabled', true);
                $("#faucet_new_actionnement_actionneur_attachment").prop('disabled', true);
                $("#existing_actionnement_actionneur_attachment").prop('disabled', true);
            }
        });

        $("#faucet_piloting_checkbox").click(function () {
            const isDisabled = $("#faucet_piloting_checkbox").prop('checked');
            if (isDisabled) {
                $("#faucet_piloting").removeAttr("disabled");
                $("#faucet_new_instrumentation_pilotage_attachment").removeAttr("disabled");
                $("#existing_instrumentation_pilotage_attachment").removeAttr("disabled");
            } else {
                $("#faucet_piloting").prop('disabled', true);
                $("#faucet_new_instrumentation_pilotage_attachment").prop('disabled', true);
                $("#existing_instrumentation_pilotage_attachment").prop('disabled', true);
            }
        });

        $("#faucet_other_instrumentation_checkbox").click(function () {
            const isDisabled = $("#faucet_other_instrumentation_checkbox").prop('checked');
            if (isDisabled) {
                $("#faucet_other_instrumentation").removeAttr("disabled");
                $("#faucet_new_instrumentation_autre_attachment").removeAttr("disabled");
                $("#existing_instrumentation_autre_attachment").removeAttr("disabled");
            } else {
                $("#faucet_other_instrumentation").prop('disabled', true);
                $("#faucet_new_instrumentation_autre_attachment").prop('disabled', true);
                $("#existing_instrumentation_autre_attachment").prop('disabled', true);
            }
        });

        $("#faucet_position_detector_checkbox").click(function () {
            const isDisabled = $("#faucet_position_detector_checkbox").prop('checked');
            if (isDisabled) {
                $("#faucet_position_detector").removeAttr("disabled");
                $("#faucet_open_position").removeAttr("disabled");
                $("#faucet_close_position").removeAttr("disabled");
                $("#faucet_new_instrumentation_position_attachment").removeAttr("disabled");
                $("#existing_instrumentation_position_attachment").removeAttr("disabled");
            } else {
                $("#faucet_position_detector").prop('disabled', true);
                $("#faucet_open_position").prop('disabled', true);
                $("#faucet_close_position").prop('disabled', true);
                $("#faucet_new_instrumentation_position_attachment").prop('disabled', true);
                $("#existing_instrumentation_position_attachment").prop('disabled', true);
            }
        });

        $("#faucet_open_position").click(function () {
            const isDisabled = $("#faucet_open_position").prop('checked');
            if (isDisabled) {
                $("#faucet_new_open_position_attachment").removeAttr("disabled");
                $("#existing_open_position_attachment").removeAttr("disabled");
            } else {
                $("#faucet_new_open_position_attachment").prop('disabled', true);
                $("#existing_open_position_attachment").prop('disabled', true);
            }
        });

        $("#faucet_close_position").click(function () {
            const isDisabled = $("#faucet_close_position").prop('checked');
            if (isDisabled) {
                $("#faucet_new_close_position_attachment").removeAttr("disabled");
                $("#existing_close_position_attachment").removeAttr("disabled");
            } else {
                $("#faucet_new_close_position_attachment").prop('disabled', true);
                $("#existing_close_position_attachment").prop('disabled', true);
            }
        });

        $("#faucet_other_special_requirements_checkbox").click(function () {
            const isDisabled = $("#faucet_other_special_requirements_checkbox").prop('checked');
            if (isDisabled) {
                $("#faucet_new_special_requirement_attachment").removeAttr("disabled");
                $("#existing_special_requirement_attachment").removeAttr("disabled");
            } else {
                $("#faucet_new_special_requirement_attachment").prop('disabled', true);
                $("#existing_special_requirement_attachment").prop('disabled', true);
            }
        });

        $("#faucet_material_certificates_required").click(function () {
            const isDisabled = $("#faucet_material_certificates_required").prop('checked');
            if (isDisabled) {
                $("#existing_certif_corps_attachment").removeAttr("disabled");
                $("#existing_certif_chapeau_attachment").removeAttr("disabled");
                $("#existing_certif_tige_attachment").removeAttr("disabled");
                $("#existing_certif_clapet_attachment").removeAttr("disabled");
                $("#existing_certif_siege_attachment").removeAttr("disabled");
                $("#existing_certif_autre_attachment").removeAttr("disabled");
                $("#faucet_new_certif_corps_attachment").removeAttr("disabled");
                $("#faucet_new_certif_chapeau_attachment").removeAttr("disabled");
                $("#faucet_new_certif_tige_attachment").removeAttr("disabled");
                $("#faucet_new_certif_clapet_attachment").removeAttr("disabled");
                $("#faucet_new_certif_siege_attachment").removeAttr("disabled");
                $("#faucet_new_certif_autre_attachment").removeAttr("disabled");
            } else {
                $("#existing_certif_corps_attachment").prop('disabled', true);
                $("#existing_certif_chapeau_attachment").prop('disabled', true);
                $("#existing_certif_tige_attachment").prop('disabled', true);
                $("#existing_certif_clapet_attachment").prop('disabled', true);
                $("#existing_certif_siege_attachment").prop('disabled', true);
                $("#existing_certif_autre_attachment").prop('disabled', true);
                $("#faucet_new_certif_corps_attachment").prop('disabled', true);
                $("#faucet_new_certif_chapeau_attachment").prop('disabled', true);
                $("#faucet_new_certif_tige_attachment").prop('disabled', true);
                $("#faucet_new_certif_clapet_attachment").prop('disabled', true);
                $("#faucet_new_certif_siege_attachment").prop('disabled', true);
                $("#faucet_new_certif_autre_attachment").prop('disabled', true);
            }
        });
    });
</script>
