<%= form_with(model: [:admin, @admin], local: true) do |form| %>
  <fieldset class="uk-fieldset">
    <% if admin.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

        <ul>
          <% admin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :email, class: 'uk-form-label' %>
      <%= form.email_field :email, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :password, class: 'uk-form-label' %>
      <%= form.password_field :password, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :password_confirmation, class: 'uk-form-label' %>
      <%= form.password_field :password_confirmation, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Back', admin_peoples_path, class: 'uk-button uk-button-default' %>
      <%= form.submit data: { confirm: 'Êtres vous sur de vouloir créer/editer cet admin ?' }, class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>
