<%= form_with(model: [:admin, @admin], local: true) do |form| %>
  <fieldset class="uk-fieldset">
    <% if admin.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: admin.errors.count, model: 'admin') %></h2>

        <ul>
          <% admin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :email, "Adresse email", class: 'uk-form-label' %>
      <%= form.email_field :email, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :last_name, "Nom", class: 'uk-form-label' %>
      <%= form.text_field :last_name, class: 'uk-input', data: {target: 'form.input'} %>
    </div>

    <div class="uk-margin">
      <%= form.label :first_name, "Prénom", class: 'uk-form-label' %>
      <%= form.text_field :first_name, class: 'uk-input', data: {target: 'form.input'} %>
    </div>

    <div class="uk-margin">
      <%= form.label :phone_number, "Numéro de téléphone", class: 'uk-form-label' %>
      <%= form.text_field :phone_number, class: 'uk-input', data: {target: 'form.input'} %>
    </div>

    <% if @admin == current_admin %>
      <%= link_to "Changer votre mot de passe", edit_admin_registration_path %>
    <% end %>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', admin_peoples_path, class: 'uk-button uk-button-default' %>
      <%= form.submit "Enregistrer", data: { confirm: 'Êtes-vous sûr de vouloir créer/editer cet admin ?' }, class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>

<script>
    $(document).ready(function () {
        $('#industrial_units').select2();
    });
</script>
