<%= form_with(model: tap, local: true, data: { controller: 'form', form_errors: tap.errors.messages.keys.join(',') }) do |form| %>
  <fieldset class="uk-fieldset">
    <% if tap.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= pluralize(tap.errors.count, "error") %> prohibited this tap from being saved:</h2>

        <ul>
          <% tap.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :name, class: 'uk-form-label' %>
      <%= form.text_field :name, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :rfid_number, class: 'uk-form-label' %>
      <%= form.text_field :rfid_number, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :serial_number, class: 'uk-form-label' %>
      <%= form.number_field :serial_number, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :number_customer_tag, class: 'uk-form-label' %>
      <%= form.number_field :number_customer_tag, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin" data-controller="date-select">
      <%= form.label :manufacturing_date, class: 'uk-form-label' %>
      <%= form.hidden_field :manufacturing_date, data: { target: 'date-select.date' } %>

      <div uk-grid>
        <div class="uk-width-1-1@s uk-width-1-3@m">
          <%= select_day nil, { include_blank: true }, { class: 'uk-select', data: { target: 'date-select.day', action: 'date-select#date' } } %>
        </div>
        <div class="uk-width-1-1@s uk-width-1-3@m">
          <%= select_month nil, { include_blank: true }, { class: 'uk-select', data: { target: 'date-select.month', action: 'date-select#date' } } %>
        </div>
        <div class="uk-width-1-1@s uk-width-1-3@m">
          <%= select_year nil, { include_blank: true }, { class: 'uk-select', data: { target: 'date-select.year', action: 'date-select#date' } } %>
        </div>
      </div>
    </div>

    <div class="uk-margin">
      <%= form.label :sales_number, class: 'uk-form-label' %>
      <%= form.text_field :sales_number, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :customer_order_number, class: 'uk-form-label' %>
      <%= form.text_field :customer_order_number, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :article_number, class: 'uk-form-label' %>
      <%= form.text_field :article_number, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :industrial_unit_id, class: 'uk-form-label' %>
      <%= form.text_field :industrial_unit_id, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :dn, class: 'uk-form-label' %>
      <%= form.text_field :dn, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :input_connection, class: 'uk-form-label' %>
      <%= form.text_field :input_connection, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :output_connection, class: 'uk-form-label' %>
      <%= form.text_field :output_connection, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :double_jacket_connection, class: 'uk-form-label' %>
      <%= form.text_field :double_jacket_connection, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :inclination_input_offset_output, class: 'uk-form-label' %>
      <%= form.text_field :inclination_input_offset_output, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :face_to_face, class: 'uk-form-label' %>
      <%= form.text_field :face_to_face, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :maximal_pressure, class: 'uk-form-label' %>
      <%= form.text_field :maximal_pressure, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :test_pressure, class: 'uk-form-label' %>
      <%= form.text_field :test_pressure, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :maximum_temperature, class: 'uk-form-label' %>
      <%= form.text_field :maximum_temperature, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :pressure_at_maximum_temperature, class: 'uk-form-label' %>
      <%= form.text_field :pressure_at_maximum_temperature, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :minimum_temperature, class: 'uk-form-label' %>
      <%= form.text_field :minimum_temperature, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :pressure_at_minimum_temperature, class: 'uk-form-label' %>
      <%= form.text_field :pressure_at_minimum_temperature, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :fluid_name, class: 'uk-form-label' %>
      <%= form.text_field :fluid_name, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :pressure, class: 'uk-form-label' %>
      <%= form.text_field :pressure, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :temperature, class: 'uk-form-label' %>
      <%= form.text_field :temperature, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :fluid_nature, class: 'uk-form-label' %>
      <%= form.select :fluid_nature, [ ['Liquide', 0], ['Gaz', 1] ], { include_blank: true }, { class: 'uk-select', data: { target: 'form.input' } } %>
    </div>

    <div class="uk-margin">
      <%= form.label :fluid_danger_group, class: 'uk-form-label' %>
      <%= form.select :fluid_danger_group, [ ['I', 0], ['II', 1] ], { include_blank: true}, { class: 'uk-select', data: { target: 'form.input' } } %>
    </div>

    <div class="uk-margin">
      <%= form.label :unstable_gas, class: 'uk-form-label' %>
      <%= form.check_box :unstable_gas, class: 'uk-checkbox', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :risk_category, class: 'uk-form-label' %>
      <%= form.select :risk_category, [ ['Article 4&3', 0], ['I', 1], ['II', 2], ['III', 3], ['IV', 4] ], { include_blank: true }, { class: 'uk-select',  data: { target: 'form.input' } } %>
    </div>

    <div class="uk-margin">
      <%= form.label :manual_control, class: 'uk-form-label' %>
      <%= form.text_field :manual_control, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :actuator, class: 'uk-form-label' %>
      <%= form.text_field :actuator, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :pneumatic_actuator_pressure, class: 'uk-form-label' %>
      <%= form.text_field :pneumatic_actuator_pressure, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :position_detector, class: 'uk-form-label' %>
      <%= form.text_field :position_detector, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :open_position, class: 'uk-form-label' %>
      <%= form.text_field :open_position, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :close_position, class: 'uk-form-label' %>
      <%= form.text_field :close_position, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :piloting, class: 'uk-form-label' %>
      <%= form.text_field :piloting, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :other_instrumentation, class: 'uk-form-label' %>
      <%= form.text_field :other_instrumentation, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :shell, class: 'uk-form-label' %>
      <%= form.text_field :shell, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :double_shell, class: 'uk-form-label' %>
      <%= form.text_field :double_shell, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :shutter_cover, class: 'uk-form-label' %>
      <%= form.text_field :shutter_cover, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :seat, class: 'uk-form-label' %>
      <%= form.text_field :seat, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :cable_gland_packing, class: 'uk-form-label' %>
      <%= form.text_field :cable_gland_packing, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :seals, class: 'uk-form-label' %>
      <%= form.text_field :seals, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :material_certificates_required, class: 'uk-form-label' %>
      <%= form.check_box :material_certificates_required, class: 'uk-checkbox', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :atex, class: 'uk-form-label' %>
      <%= form.text_field :atex, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :other_special_requirements, class: 'uk-form-label' %>
      <%= form.text_field :other_special_requirements, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :other_controls, class: 'uk-form-label' %>
      <%= form.text_field :other_controls, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :other, class: 'uk-form-label' %>
      <%= form.text_field :other, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Back', taps_path, class: 'uk-button uk-button-default' %>
      <%= form.submit :save, class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>
