<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Un client a pris contact avec les informations suivantes :</p>
<p>
  Nom: <%= @params[:last_name] %><br/>
  Prénom: <%= @params[:first_name] %><br/>
  Adresse email: <%= @params[:email] %><br/>
  Entreprise: <%= @params[:entreprise] %><br/>
  Référent: <%= @params[:reg_referal] %><br/>

  <br/><br/>
  Message: <br/><br/><%= @params[:message] %><br/>
</p>
</body>
</html>