<%= render 'shared/notice' %>

<p>
  <strong>Name:</strong>
  <%= @tap_template.name %>
</p>

<p>
  <strong>Article number:</strong>
  <%= @tap_template.article_number %>
</p>

<p>
  <strong>Dn:</strong>
  <%= @tap_template.dn %>
</p>

<p>
  <strong>Input connection:</strong>
  <%= @tap_template.input_connection %>
</p>

<p>
  <strong>Output connection:</strong>
  <%= @tap_template.output_connection %>
</p>

<p>
  <strong>Double jacket connection:</strong>
  <%= @tap_template.double_jacket_connection %>
</p>

<p>
  <strong>Inclination input offset output:</strong>
  <%= @tap_template.inclination_input_offset_output %>
</p>

<p>
  <strong>Face to face:</strong>
  <%= @tap_template.face_to_face %>
</p>

<p>
  <strong>Maximal pressure:</strong>
  <%= @tap_template.maximal_pressure %>
</p>

<p>
  <strong>Test pressure:</strong>
  <%= @tap_template.test_pressure %>
</p>

<p>
  <strong>Maximum temperature:</strong>
  <%= @tap_template.maximum_temperature %>
</p>

<p>
  <strong>Pressure at maximum temperature:</strong>
  <%= @tap_template.pressure_at_maximum_temperature %>
</p>

<p>
  <strong>Minimum temperature:</strong>
  <%= @tap_template.minimum_temperature %>
</p>

<p>
  <strong>Pressure at minimum temperature:</strong>
  <%= @tap_template.pressure_at_minimum_temperature %>
</p>

<p>
  <strong>Fluid nature:</strong>
  <%= @tap_template.fluid_nature %>
</p>

<p>
  <strong>Fluid danger group:</strong>
  <%= @tap_template.fluid_danger_group %>
</p>

<p>
  <strong>Unstable gas:</strong>
  <%= @tap_template.unstable_gas %>
</p>

<p>
  <strong>Risk category according to desp 2014 68:</strong>
  <%= @tap_template.risk_category_according_to_DESP_2014_68 %>
</p>

<p>
  <strong>Manual control:</strong>
  <%= @tap_template.manual_control %>
</p>

<p>
  <strong>Actuator:</strong>
  <%= @tap_template.actuator %>
</p>

<p>
  <strong>Pneumatic actuator pressure:</strong>
  <%= @tap_template.pneumatic_actuator_pressure %>
</p>

<p>
  <strong>Position detector:</strong>
  <%= @tap_template.position_detector %>
</p>

<p>
  <strong>Open position:</strong>
  <%= @tap_template.open_position %>
</p>

<p>
  <strong>Close position:</strong>
  <%= @tap_template.close_position %>
</p>

<p>
  <strong>Piloting:</strong>
  <%= @tap_template.piloting %>
</p>

<p>
  <strong>Other instrumentation:</strong>
  <%= @tap_template.other_instrumentation %>
</p>

<p>
  <strong>Shell:</strong>
  <%= @tap_template.shell %>
</p>

<p>
  <strong>Double shell:</strong>
  <%= @tap_template.double_shell %>
</p>

<p>
  <strong>Shutter cover:</strong>
  <%= @tap_template.shutter_cover %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @tap_template.seat %>
</p>

<p>
  <strong>Cable gland packing:</strong>
  <%= @tap_template.cable_gland_packing %>
</p>

<p>
  <strong>Seals:</strong>
  <%= @tap_template.seals %>
</p>

<p>
  <strong>Atex:</strong>
  <%= @tap_template.atex %>
</p>

<p>
  <strong>Other special requirements:</strong>
  <%= @tap_template.other_special_requirements %>
</p>

<p>
  <strong>Other controls:</strong>
  <%= @tap_template.other_controls %>
</p>

<p>
  <strong>Other:</strong>
  <%= @tap_template.other %>
</p>

<%= link_to 'Edit', edit_tap_template_path(@tap_template) %> |
<%= link_to 'Back', tap_templates_path %>
