<div class="uk-section uk-section-default">
  <div class="uk-container">

    <%= render 'shared/notice' %>

    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="uk-heading-primary"><%= @faucet.name %></h1>
      </div>
    </div>

    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-striped">
        <tbody>
        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Name</td>
          <td><%= @faucet.name %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Rfid number</td>
          <td><%= @faucet.rfid_number %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Serial number</td>
          <td><%= @faucet.serial_number %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Number customer tag</td>
          <td><%= @faucet.number_customer_tag %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Manufacturing date</td>
          <td><%= @faucet.manufacturing_date %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Sales number</td>
          <td><%= @faucet.sales_number %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Customer order number</td>
          <td><%= @faucet.customer_order_number %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Article number</td>
          <td><%= @faucet.article_number %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Industrial unit</td>
          <td><%= @faucet.industrial_unit %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Dn</td>
          <td><%= @faucet.dn %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Input connection</td>
          <td><%= @faucet.input_connection %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Output connection</td>
          <td><%= @faucet.output_connection %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Double jacket connection</td>
          <td><%= @faucet.double_jacket_connection %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Inclination input offset output</td>
          <td><%= @faucet.inclination_input_offset_output %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Face to face</td>
          <td><%= @faucet.face_to_face %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Maximal pressure</td>
          <td><%= @faucet.maximal_pressure %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Test pressure</td>
          <td><%= @faucet.test_pressure %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Maximum temperature</td>
          <td><%= @faucet.maximum_temperature %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pressure at maximum temperature</td>
          <td><%= @faucet.pressure_at_maximum_temperature %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Minimum temperature</td>
          <td><%= @faucet.minimum_temperature %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pressure at minimum temperature</td>
          <td><%= @faucet.pressure_at_minimum_temperature %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Fluid name</td>
          <td><%= @faucet.fluid_name %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pressure</td>
          <td><%= @faucet.pressure %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Temperature</td>
          <td><%= @faucet.temperature %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Fluid nature</td>
          <td><%= @faucet.fluid_nature %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Fluid danger group</td>
          <td><%= @faucet.fluid_danger_group %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Unstable gas</td>
          <td><%= @faucet.unstable_gas %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Risk category according to desp 2014 68</td>
          <td><%= @faucet.risk_category %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Manual control</td>
          <td><%= @faucet.manual_control %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Actuator</td>
          <td><%= @faucet.actuator %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pneumatic actuator pressure</td>
          <td><%= @faucet.pneumatic_actuator_pressure %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Position detector</td>
          <td><%= @faucet.position_detector %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Open position</td>
          <td><%= @faucet.open_position %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Close position</td>
          <td><%= @faucet.close_position %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Piloting</td>
          <td><%= @faucet.piloting %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Other instrumentation</td>
          <td><%= @faucet.other_instrumentation %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Shell</td>
          <td><%= @faucet.shell %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Double shell</td>
          <td><%= @faucet.double_shell %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Shutter cover</td>
          <td><%= @faucet.shutter_cover %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Seat</td>
          <td><%= @faucet.seat %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Cable gland packing</td>
          <td><%= @faucet.cable_gland_packing %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Seals</td>
          <td><%= @faucet.seals %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Material certificates required</td>
          <td><%= @faucet.material_certificates_required %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Atex</td>
          <td><%= @faucet.atex %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Other special requirements</td>
          <td><%= @faucet.other_special_requirements %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Other controls</td>
          <td><%= @faucet.other_controls %></td>
        </tr>

        <tr>
          <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Other</td>
          <td><%= @faucet.other %></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Back', user_faucets_path, class: 'uk-button uk-button-default' %>
    </div>
  </div>
</div>
