<div class="uk-section uk-section-default">
  <div class="uk-container">

    <%= render 'shared/notice' %>

    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="uk-heading-primary"><%= @faucet.name %></h1>
      </div>
    </div>

    <ul class="uk-list-large uk-list-divider" uk-accordion>
      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Identification de l'atelier
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <tbody>
              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Nom</td>
                <td><%= @faucet.name %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">N° puce RFID</td>
                <td><%= @faucet.rfid_number %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">N° série REG</td>
                <td><%= @faucet.serial_number %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">N° TAG client</td>
                <td><%= @faucet.number_customer_tag %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Date de fabrication</td>
                <td><%= @faucet.manufacturing_date %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">N° vente REG</td>
                <td><%= @faucet.sales_number %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">N° commande client</td>
                <td><%= @faucet.customer_order_number %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">N° article</td>
                <td><%= @faucet.article_number %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Unité Industrielle</td>
                <% if @faucet.industrial_unit.present? %>
                  <td><%= @faucet.industrial_unit.name %></td>
                <% end %>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">DN</td>
                <td><%= @faucet.dn %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Raccordement entrée</td>
                <td><%= @faucet.input_connection %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Raccordement sortie</td>
                <td><%= @faucet.output_connection %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Raccordement de double
                  enveloppe
                </td>
                <td><%= @faucet.double_jacket_connection %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Inclinaison/décalage
                  entrée/sortie
                </td>
                <td><%= @faucet.inclination_input_offset_output %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Face à face</td>
                <td><%= @faucet.face_to_face %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Conditions de service / Limite d'utilisation
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <tbody>
              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pression Maximale (PS) à 20°C
                  (bar)
                </td>
                <td><%= @faucet.maximal_pressure %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pression d'épreuve à 20°C
                  (bar)
                </td>
                <td><%= @faucet.test_pressure %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Température maximum (°C)</td>
                <td><%= @faucet.maximum_temperature %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pression à la température
                  maximum (bar)
                </td>
                <td><%= @faucet.pressure_at_maximum_temperature %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Température minimum (°C)</td>
                <td><%= @faucet.minimum_temperature %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pression à la température
                  minimum (bar)
                </td>
                <td><%= @faucet.pressure_at_minimum_temperature %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Document d'instruction de
                  service
                </td>
                <td>
                  <table>
                    <tbody>
                    <% @faucet.attachments.where(kind: :instruction_service).each do |attachment| %>
                      <tr class="tr-transparent">
                        <% if attachment.pdf.attached? %>
                          <td><%= link_to attachment.pdf.blob.filename, "http://drive.google.com/viewerng/viewer?embedded=true&url=" + request.base_url + url_for(attachment.pdf) %></td>
                        <% else %>
                          <td></td>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Données déclarées par le client
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <tbody>
              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Nom du fluide</td>
                <td><%= @faucet.fluid_name %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pression (bar)</td>
                <td><%= @faucet.pressure %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Température (°C)</td>
                <td><%= @faucet.temperature %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Catégorie de risque selon DESP 2014/68
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <tbody>
              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Nature du fluide</td>
                <td><%= @faucet.fluid_nature %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Groupe de danger du fluide</td>
                <td><%= @faucet.fluid_danger_group %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Gaz instable</td>
                <td><%= @faucet.unstable_gas %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Catégorie de risque selon DESP
                  2014/68
                </td>
                <td><%= @faucet.risk_category %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Actionnement - Système de manœuvre
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <tbody>
              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Commande manuelle</td>
                <td><%= @faucet.manual_control %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Actionneur</td>
                <td><%= @faucet.actuator %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Document d'actionneur
                </td>
                <td>
                  <table>
                    <tbody>
                    <% @faucet.attachments.where(kind: :actionnement_actionneur).each do |attachment| %>
                      <tr class="tr-transparent">
                        <% if attachment.pdf.attached? %>
                          <td><%= link_to attachment.pdf.blob.filename, "http://drive.google.com/viewerng/viewer?embedded=true&url=" + url_for(attachment.pdf) %></td>
                        <% else %>
                          <td></td>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pression actionneur
                  pneumatique
                </td>
                <td><%= @faucet.pneumatic_actuator_pressure %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Instrumentation
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <tbody>
              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Détecteur de position</td>
                <td><%= @faucet.position_detector %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Document de détecteur de
                  position
                </td>
                <td>
                  <table class="uk-table uk-table-striped">
                    <tbody>
                    <% @faucet.attachments.where(kind: :instrumentation_position).each do |attachment| %>
                      <tr>
                        <% if attachment.pdf.attached? %>
                          <td><%= link_to attachment.pdf.blob.filename, "http://drive.google.com/viewerng/viewer?embedded=true&url=" + url_for(attachment.pdf) %></td>
                        <% else %>
                          <td></td>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Position ouverte</td>
                <td><%= @faucet.open_position %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Position fermée</td>
                <td><%= @faucet.close_position %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Pilotage</td>
                <td><%= @faucet.piloting %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Document de pilotage</td>
                <td>
                  <table>
                    <tbody>
                    <% @faucet.attachments.where(kind: :instrumentation_pilotage).each do |attachment| %>
                      <tr class="tr-transparent">
                        <% if attachment.pdf.attached? %>
                          <td><%= link_to attachment.pdf.blob.filename, "http://drive.google.com/viewerng/viewer?embedded=true&url=" + url_for(attachment.pdf) %></td>
                        <% else %>
                          <td></td>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Autres instrumentation</td>
                <td><%= @faucet.other_instrumentation %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Document d'autres
                  instrumentation
                </td>
                <td>
                  <table>
                    <tbody>
                    <% @faucet.attachments.where(kind: :instrumentation_autre).each do |attachment| %>
                      <tr class="tr-transparent">
                        <% if attachment.pdf.attached? %>
                          <td><%= link_to attachment.pdf.blob.filename, "http://drive.google.com/viewerng/viewer?embedded=true&url=" + url_for(attachment.pdf)%></td>
                        <% else %>
                          <td></td>
                        <% end %>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Matériaux
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <tbody>
              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Enveloppe</td>
                <td><%= @faucet.shell %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Double enveloppe</td>
                <td><%= @faucet.double_shell %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Obturateur (partie mobile)</td>
                <td><%= @faucet.shutter_cover %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Siège (partie fixe)</td>
                <td><%= @faucet.seat %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Garniture de presse étoupe</td>
                <td><%= @faucet.cable_gland_packing %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Joints</td>
                <td><%= @faucet.seals %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Certificats matières demandés
                </td>
                <td><%= @faucet.material_certificates_required %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Exigences particulières
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <tbody>
              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">ATEX</td>
                <td><%= @faucet.atex %></td>
              </tr>

              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Autres exigences
                  particulières
                </td>
                <td><%= @faucet.other_special_requirements %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Contrôles
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <tbody>
              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Autres contrôles</td>
                <td><%= @faucet.other_controls %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Autres
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <tbody>
              <tr>
                <td class="uk-text-bold uk-text-uppercase uk-text-small uk-width-medium">Autres</td>
                <td><%= @faucet.other %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Évènements
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-width-auto@m">
            <%= link_to 'Nouvel Évènement', new_user_event_path(faucet_id: @faucet.id), class: 'uk-button uk-button-primary' %>
          </div>
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <thead>
              <th>type</th>
              <th>commentaire</th>
              <th>actions</th>
              </thead>
              <tbody>
              <% @faucet.events.each do |event| %>
                <tr>
                  <td><%= event.kind %></td>
                  <td><%= event.comment %></td>
                  <td class="uk-flex uk-flex-center">
                    <ul class="uk-iconnav">
                      <li>
                        <%= link_to user_event_path(event) do %>
                          <span uk-icon="search" , uk-tooltip="Détails"></span>
                        <% end %>
                      </li>
                    </ul>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>Contacts
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
              <thead>
              <th>Nom</th>
              <th>Téléphone</th>
              <th>Adresse email</th>
              <th>Rôle</th>
              </thead>
              <tbody>
              <% if @faucet.industrial_unit.present? %>
                <% @faucet.industrial_unit.admins.each do |admin| %>
                  <tr>
                    <td><%= admin.full_name %></td>
                    <td><%= admin.phone_number %></td>
                    <td><%= admin.email %></td>
                    <td>Commercial</td>
                  </tr>
                <% end %>
                <% @faucet.industrial_unit.users.each do |technician| %>
                  <tr>
                    <td><%= technician.full_name %></td>
                    <td><%= technician.phone_number %></td>
                    <td><%= technician.email %></td>
                    <td>Technicien</td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </li>
    </ul>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', user_faucets_path, class: 'uk-button uk-button-default' %>
    </div>
  </div>
</div>