<%= render 'shared/sidebar', locals: { title: 'Unité industrielle' } do %>
  <% @industrial_units.each do |industrial_unit| %>
    <li class="uk-flex uk-flex-middle">
      <%= link_to industrial_unit.name, industrial_units_path(industrial_unit: industrial_unit) %>
      <ul class="uk-iconnav uk-margin-auto-left">
        <li>
          <%= link_to industrial_unit do %>
            <span uk-icon="icon: search; ratio: 0.60", uk-tooltip="Show"></span>
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
<% end %>

<div class="uk-section uk-section-default tm-main">
  <div class="uk-container">
    <%= render 'shared/notice' %>

    <div class="uk-flex-middle uk-margin-medium" uk-grid>
      <div class="uk-width-expand@m">
        <h1 class="uk-heading-primary">Industrial Units</h1>
      </div>
      <div class="uk-width-auto@m">
        <%= link_to 'New Industrial Unit', new_industrial_unit_path, class: 'uk-button uk-button-primary' %>
      </div>
    </div>

    <%= render 'shared/table', locals: { id: 'industrial_units_table', dom: 'lrtip', paging: false, info: false } do %>
      <thead>
      <tr>
        <th>id</th>
        <th>Rfid number</th>
        <th>Serial number</th>
        <th>Number customer tag</th>
        <th>Manufacturing date</th>
        <th>Sales number</th>
        <th>Customer order number</th>
        <th>Article number</th>
        <th>Industrial Unit</th>
        <th data-orderable="false">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @industrial_units.each do |industrial_unit| %>
        <% industrial_unit.taps.filter(params.slice(:industrial_unit)).each do |tap| %>
          <tr>
            <td><%= tap.id %></td>
            <td><%= tap.rfid_number %></td>
            <td><%= tap.serial_number %></td>
            <td><%= tap.number_customer_tag %></td>
            <td><%= tap.manufacturing_date %></td>
            <td><%= tap.sales_number %></td>
            <td><%= tap.customer_order_number %></td>
            <td><%= tap.article_number %></td>
            <td><%= tap.industrial_unit&.name %></td>
            <td class="uk-flex uk-flex-center">
              <ul class="uk-iconnav">
                <li>
                  <%= link_to tap do %>
                    <span uk-icon="search", uk-tooltip="Show"></span>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_tap_path(tap) do %>
                    <span uk-icon="pencil", uk-tooltip="Edit"></span>
                  <% end %>
                </li>
                <li>
                  <%= link_to tap, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span uk-icon="trash", uk-tooltip="Destroy"></span>
                  <% end %>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    <% end %>
  </div>
</div>