<%= form_with(model: [:admin, @alert], local: true, data: { controller: 'form', form_errors: alert.errors.messages.keys.join(',') }) do |form| %>
  <fieldset class="uk-fieldset">
    <% if alert.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: alert.errors.count, model: 'alerte') %></h2>

        <ul>
          <% alert.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :industrial_unit_id, "Unité Industrielle", class: 'uk-form-label' %>
      <%= form.select :industrial_unit_id, IndustrialUnit.all.collect {|industrial_unit| [industrial_unit.name, industrial_unit.id]},
                      {include_blank: true}, {class: 'uk-select', data: {target: 'form.input'}} %>
    </div>

    <div class="uk-margin">
      <%= form.label :faucet_id, "Robinet", class: 'uk-form-label' %>
      <%= form.select :faucet_id, Faucet.all.collect {|faucet| [faucet.name, faucet.id]}, {}, {class: 'uk-select', data: {target: 'form.input'}} %>
    </div>

    <div class="uk-margin">
      <%= form.label :kind, "Type", class: 'uk-form-label' %>
      <%= form.select :kind, Alert.kinds.keys, {}, {class: 'uk-select', data: {target: 'form.input'}} %>
    </div>

    <div class="uk-margin" data-controller="date-select">
      <%= form.label :date, "Date", class: 'uk-form-label' %>
      <%= form.hidden_field :date, data: {target: 'date-select.date'} %>

      <div uk-grid>
        <div class="uk-width-1-1@s uk-width-1-3@m">
          <%= select_day nil, {include_blank: true}, {class: 'uk-select', data: {target: 'date-select.day', action: 'date-select#date'}} %>
        </div>
        <div class="uk-width-1-1@s uk-width-1-3@m">
          <%= select_month nil, {include_blank: true}, {class: 'uk-select', data: {target: 'date-select.month', action: 'date-select#date'}} %>
        </div>
        <div class="uk-width-1-1@s uk-width-1-3@m">
          <%= select_year nil, {include_blank: true}, {class: 'uk-select', data: {target: 'date-select.year', action: 'date-select#date'}} %>
        </div>
      </div>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', admin_alerts_path, class: 'uk-button uk-button-default' %>
      <%= form.submit "Enregistrer", class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>
