<%= form_with(model: [:admin, @tap_template], local: true, data: { controller: 'form', form_errors: tap_template.errors.messages.keys.join(',') }) do |form| %>
  <fieldset class="uk-fieldset">

    <% if tap_template.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: tap_template.errors.count, model: 'modèle de robinet') %></h2>

        <ul>
          <% tap_template.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :template_name, "Nom du modèle", class: 'uk-form-label' %>
      <%= form.text_field :template_name, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <ul class="uk-list-large uk-list-divider" uk-accordion>
      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>
          <%= image_tag("Logo_identification.png", :size => "50x50", class: "menu_icon") %>
          Identification du robinet
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :name, "Nom", class: 'uk-form-label' %>
            <%= form.text_field :name, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :article_number, "N° article", class: 'uk-form-label' %>
            <%= form.text_field :article_number, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :dn, "DN", class: 'uk-form-label' %>
            <%= form.text_field :dn, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :input_connection, "Raccordement entrée", class: 'uk-form-label' %>
            <%= form.text_field :input_connection, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :output_connection, "Raccordement sortie", class: 'uk-form-label' %>
            <%= form.text_field :output_connection, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :double_jacket_connection, "Raccordement de double enveloppe", class: 'uk-form-label' %>
            <%= form.text_field :double_jacket_connection, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :inclination_input_offset_output, "Inclinaison/décalage entrée/sortie", class: 'uk-form-label' %>
            <%= form.text_field :inclination_input_offset_output, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :face_to_face, "Face à face", class: 'uk-form-label' %>
            <%= form.text_field :face_to_face, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>
          <%= image_tag("Logo_conditions_services.png", :size => "50x50", class: "menu_icon") %>
          Conditions de service / Limite d'utilisation
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :maximal_pressure, "Pression Maximale (PS) à 20°C (bar)", class: 'uk-form-label' %>
            <%= form.number_field :maximal_pressure, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :test_pressure, "Pression d'épreuve à 20°C (bar)", class: 'uk-form-label' %>
            <%= form.number_field :test_pressure, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :maximum_temperature, "Température maximum (°C)", class: 'uk-form-label' %>
            <%= form.number_field :maximum_temperature, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :pressure_at_maximum_temperature, "Pression à la température maximum (bar)", class: 'uk-form-label' %>
            <%= form.number_field :pressure_at_maximum_temperature, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :minimum_temperature, "Température minimum (°C)", class: 'uk-form-label' %>
            <%= form.number_field :minimum_temperature, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :pressure_at_minimum_temperature, "Pression à la température minimum (bar)", class: 'uk-form-label' %>
            <%= form.number_field :pressure_at_minimum_temperature, class: 'uk-input', data: {target: 'form.input'} %>
          </div>

          <%= render 'admin/faucets/form_attachment', form: form, kind: :instruction_service %>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>
          <%= image_tag("Logo_catégorie_risque.png", :size => "50x50", class: "menu_icon") %>
          Catégorie de risque selon DESP 2014/68/UE
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :fluid_nature, "Nature du fluide", class: 'uk-form-label' %>
            <%= form.select :fluid_nature, [ ['Liquide', 'liquide'], ['Gaz', 'gas'] ], { include_blank: true }, { class: 'uk-select', data: { target: 'form.input' } } %>
          </div>

          <div class="uk-margin">
            <%= form.label :fluid_danger_group, "Groupe de danger du  fluide", class: 'uk-form-label' %>
            <%= form.select :fluid_danger_group, [ ['I', 'I'], ['II', 'II'] ], { include_blank: true}, { class: 'uk-select', data: { target: 'form.input' } } %>
          </div>

          <div class="uk-margin">
            <%= form.label :unstable_gas, "Gaz instable", class: 'uk-form-label' %>
            <%= form.check_box :unstable_gas, class: 'uk-checkbox', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :risk_category, "Catégorie de risque selon DESP 2014/68/UE", class: 'uk-form-label' %>
            <%= form.select :risk_category, [ ['Produit relevant du paragraphe 4.3 de la DESP', 0], ['I', 'I'], ['II', 'II'], ['III', 'III'], ['IV', 'IV'] ], { include_blank: true }, { class: 'uk-select',  data: { target: 'form.input' } } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>
          <%= image_tag("Logo_actionnement.png", :size => "50x50", class: "menu_icon") %>
          Actionnement - Système de manœuvre
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :manual_control, "Commande manuelle", class: 'uk-form-label' %>
            <%= form.text_field :manual_control, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :actuator, "Actionneur", class: 'uk-form-label' %>
            <%= form.text_field :actuator, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <%= render 'admin/faucets/form_attachment', form: form, kind: :actionnement_actionneur %>

          <div class="uk-margin">
            <%= form.label :pneumatic_actuator_pressure, "Pression actionneur pneumatique", class: 'uk-form-label' %>
            <%= form.number_field :pneumatic_actuator_pressure, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>
          <%= image_tag("Logo_instrumentation.png", :size => "50x50", class: "menu_icon") %>
          Instrumentation
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :position_detector, "Détecteur de position", class: 'uk-form-label' %>
            <%= form.text_field :position_detector, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <%= render 'admin/faucets/form_attachment', form: form, kind: :instrumentation_position %>

          <div class="uk-margin">
            <%= form.label :open_position, "Position ouverte", class: 'uk-form-label' %>
            <%= form.text_field :open_position, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :close_position, "Position fermée", class: 'uk-form-label' %>
            <%= form.text_field :close_position, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :piloting, "Pilotage", class: 'uk-form-label' %>
            <%= form.text_field :piloting, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <%= render 'admin/faucets/form_attachment', form: form, kind: :instrumentation_pilotage %>

          <div class="uk-margin">
            <%= form.label :other_instrumentation, "Autres instrumentation", class: 'uk-form-label' %>
            <%= form.text_field :other_instrumentation, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <%= render 'admin/faucets/form_attachment', form: form, kind: :instrumentation_autre %>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>
          <%= image_tag("Logo_matériaux.png", :size => "50x50", class: "menu_icon") %>
          Matériaux
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :shell, "Enveloppe", class: 'uk-form-label' %>
            <%= form.text_field :shell, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :double_shell, "Double enveloppe", class: 'uk-form-label' %>
            <%= form.text_field :double_shell, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :shutter_cover, "Obturateur (partie mobile)", class: 'uk-form-label' %>
            <%= form.text_field :shutter_cover, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :seat, "Siège (partie fixe)", class: 'uk-form-label' %>
            <%= form.text_field :seat, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :cable_gland_packing, "Garniture de presse étoupe", class: 'uk-form-label' %>
            <%= form.text_field :cable_gland_packing, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :seals, "Joints", class: 'uk-form-label' %>
            <%= form.text_field :seals, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>
          <%= image_tag("Logo_exigences.png", :size => "50x50", class: "menu_icon") %>
          Exigences particulières
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :atex, "ATEX", class: 'uk-form-label' %>
            <%= form.text_field :atex, class: 'uk-input', data: { target: 'form.input' } %>
          </div>

          <div class="uk-margin">
            <%= form.label :other_special_requirements, "Autres exigences particulières", class: 'uk-form-label' %>
            <%= form.text_field :other_special_requirements, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>
          <%= image_tag("Logo_contrôles.png", :size => "50x50", class: "menu_icon") %>
          Contrôles
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :other_controls, "Autres contrôles", class: 'uk-form-label' %>
            <%= form.text_field :other_controls, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>

      <li>
        <%= link_to '#', class: 'uk-accordion-title' do %>
          <%= image_tag("Logo_données.png", :size => "50x50", class: "menu_icon") %>
          Autres
        <% end %>
        <div class="uk-accordion-content">
          <div class="uk-margin">
            <%= form.label :other, "Autres", class: 'uk-form-label' %>
            <%= form.text_field :other, class: 'uk-input', data: { target: 'form.input' } %>
          </div>
        </div>
      </li>
    </ul>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', admin_tap_templates_path, class: 'uk-button uk-button-default' %>
      <%= form.submit "Enregistrer", class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>

<script>
    $(document).ready(function () {
        $('#existing_instruction_service_attachment').select2();
        $('#existing_instrumentation_position_attachment').select2();
        $('#existing_instrumentation_pilotage_attachment').select2();
        $('#existing_instrumentation_autre_attachment').select2();
        $('#existing_actionnement_actionneur_attachment').select2();
    });
</script>
