<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <fieldset class="uk-fieldset">
    <% if @user.errors.any? %>
      <div id="error_explanation" class="uk-alert-danger" uk-alert>
        <h2><%= t("errors.template.header", count: @user.errors.count, model: 'utilisateur') %></h2>

        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="uk-margin">
      <%= form.label :email, "Adresse email", class: 'uk-form-label' %>
      <%= form.email_field :email, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :last_name, "Nom", class: 'uk-form-label' %>
      <%= form.text_field :last_name, class: 'uk-input', data: {target: 'form.input'} %>
    </div>

    <div class="uk-margin">
      <%= form.label :first_name, "Prénom", class: 'uk-form-label' %>
      <%= form.text_field :first_name, class: 'uk-input', data: {target: 'form.input'} %>
    </div>

    <div class="uk-margin">
      <%= form.label :password, "Mot de passe", class: 'uk-form-label' %>
      <%= form.password_field :password, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin">
      <%= form.label :password_confirmation, "Confirmation du mot de passe", class: 'uk-form-label' %>
      <%= form.password_field :password_confirmation, class: 'uk-input', data: { target: 'form.input' } %>
    </div>

    <div class="uk-margin-medium">
      <%= link_to 'Retour', admin_peoples_path, class: 'uk-button uk-button-default' %>
      <%= form.submit "Enregistrer", class: 'uk-button uk-button-primary' %>
    </div>
  </fieldset>
<% end %>
